.profile-card {
  width: 80%;
  background-color: wheat;
  font-size: 14px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  overflow-wrap: break-word;
}

.profile-card__tags {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  padding-left: 0;
}

.profile-card__tags__tag-style {
  padding: 0 5px 0 5px;
  border: solid black;
}

.profile-card-button {
  margin: 5px;
}
