/* for tag a text field with commas...
<label> over input text fields */

.question-form {
  background-color: wheat;
  width: 80%;
  height: 80%;
  display: flex;
  flex-flow: column wrap;
}

.question-flex {
  display: flex;
  flex-direction: column;
}

.answer-flex {
  display: flex;
  flex-direction: column;
}

.tag-flex {
  display: flex;
  flex-direction: column;
}

.question-form__text-field {
  margin: 10px 10px;
  min-height: 80px;
  border-style: dotted;
}

.question-form__label {
  margin: 10px 10px;
  font-size: 1rem;
}

.div_button_create {
  display: flex;
}

.Create-button {
  margin-top: -6px;
  margin-left: 15px;
}
