* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 112.5%;
  line-height: 1.5;
  margin: 0;
}

.layout {
  display: grid;
  height: 100vh;
  min-width: 320px;
  max-width: 60vw;
  grid-template-rows: 75px auto 80px;
  margin: 0 auto;
}

.layout-header {
  grid-row: 1 / 2;
  background-color: rgb(112, 130, 177);
}

.layout-main {
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  background-color: rgb(198, 207, 226);
  overflow-y: scroll;
  overflow-wrap: break-word;
  padding-top: 10px;
}

.layout-main::after {
  content: '';
  display: block;
  padding-bottom: 30px;
}

.layout-footer {
  grid-row: 3 / 4;
  background-color: rgb(112, 130, 177);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 26px;
  bottom: 0;
}

h1,
h2,
h3 {
  line-height: 1.3;
  text-align: center;
}

h1 {
  padding-bottom: 20px;
}

h2 {
  text-align: left;
}

/*
input,
button {
  font-size: 1em;
  text-align: center;
}*/

.question-card {
  width: 80%;
  background-color: wheat;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.tag-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 0;
}

.tag-style {
  padding: 0 5px 0 5px;
  border: solid black;
}

.card-icon {
  font-size: 20px;
  position: absolute;
  right: 10px;
  bottom: 167px;
  cursor: ;
}
.div_button {
  display: flex;
  justify-content: center;
}

.button-properties {
}
