* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 112.5%;
  line-height: 1.5;
  margin: 0;
}

.layout {
  display: grid;
  height: 100vh;
  min-width: 320px;
  max-width: 60vw;
  grid-template-rows: 75px auto 60px;
  margin: 0 auto;
}

.layout-header {
  grid-row: 1 / 2;
  background-color: rgb(112, 130, 177);
}

.layout-main {
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  background-color: rgb(198, 207, 226);
  overflow-y: scroll;
  overflow-wrap: break-word;
  padding-top: 10px;
}

.layout-main::after {
  content: '';
  display: block;
  padding-bottom: 30px;
}

.layout-footer {
  grid-row: 3 / 4;
  background-color: rgb(112, 130, 177);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 26px;
  bottom: 0;
}

h1,
h2,
h3 {
  line-height: 1.3;
  text-align: center;
}

h1 {
  padding-bottom: 20px;
}

h2 {
  text-align: left;
}

/*
input,
button {
  font-size: 1em;
  text-align: center;
}*/


.card-icon {
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: -5px;
  cursor: ;
}
.div_button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.button-properties {
  width: 100px;
  background-color: wheat;
  border-style: solid black;
}

.toggle-answer {
  /* display: none; */
}

.profile-card-p {
  max-width: 80%;
  font-style: italic;
}

.profile_photo {
  border: 2px solid rgb(198, 207, 226);
  border-radius: 50%;
  width: 120px;
  height: 100px;
  

.profile-heading {
  text-align: right;
  margin-left: 0px;
}
